.create-diary-wrapper {
    background-color: #FFE2E0;
    height: 800px;
}

.create-diary-wrapper button {
    background-color: #EF93AE;
    border-color: #EF93AE;
    color: white;
}

.create-diary-wrapper button:hover {
    background-color: #7BA5F7;
    border-color: #7BA5F7;
    color: white;
}

.create-diary-form {
    justify-content: center;
}

.img-create-diary {
    border-radius: 20%;
    border-width: thick;
    border-style: solid;
    border-color: white;
}