.diaries-list-wrapper .btn-details {
    background-color: #EF93AE;
    border-color: #EF93AE;
    color: white;
}

.diaries-list-wrapper .btn-details:hover {
    background-color: #7BA5F7;
    border-color: #7BA5F7;
    color: white;
}