.header-wrapper {
    background-color: #E8E0CD;
}

.header-wrapper .nav-link,
.navbar-brand {
    color: #EF93AE;
}

.header-wrapper .nav-link:hover,
.navbar-brand:hover {
    color: #7BA5F7;
}

.header-wrapper .btn-create-diary {
    background-color: #EF93AE;
    border-color: #EF93AE;
    color: white;
}

.header-wrapper .btn-create-diary:hover {
    background-color: #7BA5F7;
    border-color: #7BA5F7;
    color: white;
}