.articles-wrapper {
    background-color: #FFE2E0;
}

.main-pic-artilces {
    border-radius: 20%;
    border-width: thick;
    border-style: solid;
    border-color: white;
}

.nothing-found {
    color: red;
}

.nothing-found-pic {
    max-width: 20%;
    border-radius: 20%;
}