.app {
  width: 1200px;
  margin: auto;
}

ul {
  list-style-type: none;
}

.custom-font {
  font-family: 'Quicksand', sans-serif;
}

.fill {
  background-color: #FFE2E0;
}

.table-background {
  background-color: #E8E0CD;
}