.login-wrapper {
    background-color: #FFE2E0;
    height: 650px;
}

.login-wrapper button {
    background-color: #EF93AE;
    border-color: #EF93AE;
    color: white;
}

.login-wrapper button:hover {
    background-color: #7BA5F7;
    border-color: #7BA5F7;
    color: white;
}

.login-form {
    justify-content: center;
}

.img-login {
    max-width: 100%;
    border-radius: 20%;
    border-width: thick;
    border-style: solid;
    border-color: white;
}