.see-week-wrapper {
    background-color: #FFE2E0;
}

.see-week-btn-wrapper .btn {
    background-color: #EF93AE;
    border-color: #EF93AE;
    color: white;
}

.see-week-btn-wrapper .btn:hover {
    background-color: #7BA5F7;
    border-color: #7BA5F7;
    color: white;
}

.see-week-wrapper .fa-weight {
    color: #EF93AE;
}

.bold-font {
    font-weight: bolder;
    color: #EF93AE;
    font-size: 20px;
}

.img-see-week {
    max-width: 50%;
}

.week-number-color {
    font-weight: bolder;
    color: #EF93AE;
}