.all-category-wrapper .img-category-admin {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20%;
    border-width: thick;
    border-style: solid;
    border-color: white;
}

.color-link a {
    color: #EF93AE;
}

.color-link a:hover {
    color: #7BA5F7;
    text-decoration: none;
}