.update-article-wrapper {
    background-color: #FFE2E0;
    height: 850px;
}

.update-article-form {
    justify-content: center;
}

.update-article-wrapper button {
    background-color: #EF93AE;
    border-color: #EF93AE;
    color: white;
}

.update-article-wrapper button:hover {
    background-color: #7BA5F7;
    border-color: #7BA5F7;
    color: white;
}