.add-week-wrapper {
    background-color: #FFE2E0;
    height: 1000px;
}

.add-week-wrapper button {
    background-color: #EF93AE;
    border-color: #EF93AE;
    color: white;
}

.add-week-wrapper button:hover {
    background-color: #7BA5F7;
    border-color: #7BA5F7;
    color: white;
}

.add-week-form {
    justify-content: center;
}