.create-memory-wrapper {
    background-color: #FFE2E0;
}

.create-memory-wrapper button {
    background-color: #EF93AE;
    border-color: #EF93AE;
    color: white;
}

.create-memory-wrapper button:hover {
    background-color: #7BA5F7;
    border-color: #7BA5F7;
    color: white;
}

.create-memory-form {
    justify-content: center;
}

.create-memory-form .btn-danger {
    background-color: red;
    border-color: red;
}

.create-memory-form .btn-danger:hover {
    background-color: lightcoral;
    border-color: lightcoral;
}